<% content_for :page_header do %>Editing Client<% end %>

<div class="col-lg-6">

    <%= render 'form' %>

    <%= link_to 'Show', @client, class:'btn btn-default' %> |
    <%= link_to 'Back', clients_path, class:'btn btn-info' %>


</div>
