<% content_for :page_header do %>Listing Clients<% end %>
<!--
<ol class="breadcrumb">
    <li>
        <i class="fa fa-users"></i>&nbsp;&nbsp;<a href="/clients" class="btn-link">Clients</a>
    </li>
    <li class="active">
        <i class="fa fa-list"></i> List
    </li>
</ol>
-->
<% if !notice.nil? %>
    <div id="notice" class="alert"><%= notice %></div>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.first_name %></td>
        <td><%= client.last_name %></td>
        <td><%= client.email %></td>
        <td><%= link_to 'Show', client, class:'btn btn-sm btn-default'%></td>
        <td><%= link_to 'Edit', edit_client_path(client), class:'btn btn-sm btn-warning' %></td>
        <td><%= link_to 'Delete', client, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-sm btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>

<%= link_to 'New Client', new_client_path, class:'btn btn-primary'%>
