<% content_for :page_header do %>Showing Client<% end %>

<div class="row col-lg-6">
    <div class="well">
        <p id="notice"><%= notice %></p>

        <div class="form-group">
            <strong>First name:</strong>
            <%= @client.first_name %>
        </div>

        <div class="form-group">
            <strong>Last name:</strong>
            <%= @client.last_name %>
        </div>

        <div class="form-group">
            <strong>Email:</strong>
            <%= @client.email %>
        </div>

        <%= link_to 'Edit', edit_client_path(@client), class:'btn btn-warning' %>
        |
        <%= link_to 'Back', clients_path, class:'btn btn-info' %>
    </div>
</div>
